*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 800px;
    width: 800px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-decoration: overline purple 5px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
}

#child{
    color: yellow;
    font-size: 40px;
    text-decoration: underline wavy black 8px;
    font-weight: 700;
}
