*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 800px;
    width: 800px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.child{
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#green{
    background-color: green;
    color: purple;
    display: flex;
    flex-direction: column;
}